<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Workshop URL Form</title>
</head>
<body>
  <p>Your URL is</p>
  <a href="{{instance_url}}" target="_blank">{{instance_url}}</a>
  <br><br><br>
  <p>If that link fails, try this link. You may have to click through security
    warnings</p>
  <a href="{{instance_ip}}" target="_blank">{{instance_ip}}</a>
</body>
</html>
